*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    display: flex;
    background: #1c1c1c;
    align-items: center;
    padding: 15px;
    justify-content: flex-end;
}

ul{
    display: flex;
    gap: 30px;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

a:hover{
color: rgb(24, 127, 201);
}

img{
width: 40px;
height: 40px;  
position: absolute;
left: 30px;
top: 8px;

}